<!-- Footer -->
<footer class="footer bg-dark">
  <!-- Grid container -->
  <div class="container bg-dark p-4">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>At CATMAPP, we're passionate about helping individuals and organizations manage their time more efficiently. Our team of experts has developed a cutting-edge tool that revolutionizes the way you schedule and analyze events: Event Scheduler Analyzizer.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul>
          <li><a href="/tasks">Home</a></li>
          <li><a href="analytics">About</a></li>
          <li><a href="analytics">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="copyright">
    &copy; 2024 Copyright Reserved by Bijay
    <a href="https://www.linkedin.com/in/bijay-khatiwada-8b75a7228/">Myportfolio</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->