<!-- <div class="pie-chart-container"> -->
  <!-- <div class="date-range-container">
    <div class="date-range-picker">
      <input type="date" id="start-date" placeholder="Start Date" />
      <input type="text" id="end-date" placeholder="End Date" />
      <button id="apply-button">Apply</button>
    </div>
    <div class="date-range-options">
      <button id="today-button">Today</button>
      <button id="yesterday-button">Yesterday</button>
      <button id="last-7-days-button">Last 7 Days</button>
      <button id="last-30-days-button">Last 30 Days</button>
    </div>
  </div> -->
  <!-- <canvas
    baseChart
    [type]="'pie'"
    [datasets]="pieChartData"
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
  >
  </canvas>
</div> -->
<!-- <div class="pie-chart-container"> -->
  <!-- <div class="date-range-container">
    <div class="date-range-picker">
      <input type="date" id="start-date" placeholder="Start Date" />
      <input type="text" id="end-date" placeholder="End Date" />
      <button id="apply-button">Apply</button>
    </div>
    <div class="date-range-options">
      <button id="today-button">Today</button>
      <button id="yesterday-button">Yesterday</button>
      <button id="last-7-days-button">Last 7 Days</button>
      <button id="last-30-days-button">Last 30 Days</button>
    </div>
  </div> -->
  <!-- <canvas
    baseChart
    [type]="'pie'"
    [datasets]="pieChartData"
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
  >
  </canvas>
</div> -->
<div class="pie-chart-card">
  <div class="card-header">
    <h2>Priority</h2>
  </div>
  <div class="card-body">
    <canvas
      baseChart
      [type]="'pie'"
      [datasets]="pieChartData"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>
</div>
